@import url('https://fonts.googleapis.com/css2? family = Trispace: wght @ 600 & display = swap');
body {
    width: auto;
    height: 0;
    background-color: rgba(255, 86, 80, 0.849);
    position: relative;
    padding: 0px 80px 0px 80px;
}


/* HEADER */

.Navigation {
    text-align: center;
    font-size: 20px;
    background-color: burlywood;
    text-decoration: none;
}


/* MAINBORD */

.main {
    position: relative;
    width: auto;
    height: 800px;
    background-color: blueviolet;
    padding: 0px 40px 0px 40px;
    text-align: center;
}

.Cont {
    padding: 40px;
    background-color: brown;
}

.Cont2 {
    padding: 20px 90pt 0 90pt;
    background-color: coral;
    text-align: center;
    font-weight: bold;
}

.Contenedor-Formulario {
    text-align: left;
}

.h1_registro {
    text-align: center;
}


/* FORMULARIO */

.Contenedor-Formulario {
    text-align: justify;
    background-color: darkorange;
    padding: 40px;
}

.Form {
    background-color: indigo;
    padding: 20px 40px 20px 40px;
}

.Botones {
    background-color: greenyellow;
    padding: 20px;
    text-align: center;
}

.inps {
    width: 300px;
}